$brand-1:   #2f3529;
$brand-2:   #3f4c40;
$brand-3:   #2ab759;
$brand-4:   #a0a275;
$brand-5:   #d5d478;

$accent-1:    #824824;
$accent-2:    #a8511c;
$accent-3:    #cd6a2d;
$accent-4:    #d85959;
$accent-5:    #da96c1;

$neutral-1:   #282828;
$neutral-2:   #424242;
$neutral-3:   #686868;
$neutral-4:   #8d8e8e;
$neutral-5:   #b4b4b4;
$neutral-6:   #c3c5c7;
$neutral-7:   #d4d9d9;
$neutral-8:   #e0e4e5;
$neutral-9:   #ecefef;
$neutral-10:  #F8F8F8;

$error-1:   #801319;
$error-2:   #99171D;
$error-3:   #B31B22;
$error-4:   #CC1F27;
$error-5:   #F2242F;

$warn-1:    #806613;
$warn-2:    #997B17;
$warn-3:    #B38F1B;
$warn-4:    #CCA41F;
$warn-5:    #E6B822;

$success-1:   #4D8013;
$success-2:   #5C9917;
$success-3:   #6CB31B;
$success-4:   #7BCC1F;
$success-5:   #8AE622;