.row.mtxxxl
  .col.s12.l6
    %a{ :href => '/rotating-lattice', :target => '_blank'}
      %h3 Zen Lattice
    %p Get into the field of zen

  .col.s12.l6
    %a{ :href => '/shesaid', :target => '_blank'}
      %h3 She Said
    %p Memoriable Quote from Sex and the City
